[submodule "external/malloc_count"]
	path = external/malloc_count
	url = https://gitlab.lbd.org.es/adriangbrandon/malloc_count.git
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://github.com/adriangbrandon/sdsl-lite.git
